---
layout: layouts/home.njk
permalink: /all/
title: All Posts
description: Complete archive of all blog posts
---

<h1>All Posts</h1>

{% set postslist = collections.allPosts %}
{% include "postslist.njk" %}
