---
pagination:
  data: sanityPosts
  size: 1
  alias: post
permalink: "/posts/{{ post.slug }}/"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ post.seo.title }}"
  description: "{{ post.description or post.seo.description }}"
  image: "{{ post.seo.ogImage if post.seo.ogImage and not post.seo.ogImage.includes('marcelfahle.net') else false }}"
---

<article class="tmpl-post">
  <header>
    {% if post.image %}
    <img 
      src="{{ post.image }}?w=800&h=400&fit=crop" 
      alt="{{ post.title }}"
      class="w-full h-64 md:h-80 object-cover rounded-lg mb-6"
      loading="eager"
    >
    {% endif %}
    
    <h1>{{ post.title }}</h1>
    
    <div class="post-meta">
      <time datetime="{{ post.date | htmlDateString }}">
        {{ post.date | readableDate }}
      </time>
      {% if post.author %}
      <span>by {{ post.author.name }}</span>
      {% endif %}
    </div>
    
    {% if post.description %}
    <p class="post-excerpt">{{ post.description }}</p>
    {% endif %}
    
    {% if post.tags.length %}
    <div class="post-tags">
      {% for tag in post.tags %}
      <a href="/tags/{{ tag | slug }}/" class="post-tag">#{{ tag }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </header>
  
  <div class="post-content">
    {{ post.content | safe }}
  </div>

  {% include "subscribe.njk" %}
</article>
