---
layout: layouts/base.njk
title: What I'm up to Now
date: Last Modified
templateClass: tmpl-post
eleventyNavigation:
  key: Now
  order: 2
---

<div>
{% block postTitle %}
  <h1 class="text-center">{{ title }}</h1>
{% endblock %}

<aside class="text-xl -mt-4 text-center">Last updated <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></aside>


{% block article %}
<article>
  <p>
  Inspired by <a href="https://sive.rs" target="_blank">Derek Sivers'</a> <a href="https://sive.rs/nowff" target="_blank">Now movement</a>, here are a few things that I'm currently up to:
  </p>
  <h2>What I'm Doing</h2>
  <ul class="nowlist pt-4">
    <li>👨‍👩‍👧‍👦 Co-parenting a toddler and a baby. Easy peasy 😅</li>
    <li>🧳 Spending half the summer in Lithuania 🇱🇹, the other half in Chamonix Mont-Blanc 🇫🇷</li>
    <li>👷 Working on the positioning for <a href="https://wearebold.af" target="_blank">Bold</a>.</li>
    <li>🎨 Improving the <a href="https://github.com/boldvideo/nextjs-starter" target="_blank">Bold Starter Kit.</a></li>
    <li>🥷  Working on a secret Elixir-based project with <a href="https://peterullrich.com" target="_blank">Peter Ullrich</a></li>
    <li>🎨 Fixing weird connection issues on <a href="_blank" href="https://pidro.online">Pidro</a>.</li>
    <li>✨ Dreaming about DX</li>
    <li>🏃‍♂️ Helping my wife train for her next mountain ultra race at the <a href="https://utmb.world/finals" target="_blank">UTMB Mont-Blanc</a></li>
  </ul>
  <h2>Content I'm currently into</h2>
  <p>Usually I'm an avid reader, but since we had the kids, time to sit down with a book is extremely limited. So expect the book section of this to not be updated very frequently.</p>
  <ul class="nowlist pt-4">
    <li>📖 Obviously Awesome (April Dunford)</li>
    <li>📖 The SaaS Playbook (Rob Walling)</li>
    <li>📖 $100M Offers (Alex Hormozi)</li>
    <li>📖 The Gifts of Imperfection (Brené Brown)</li>
    <li>📺 <a href="https://www.youtube.com/watch?v=P_VNQ6UIbS8" target="_blank">Floris Gierman: 10 Years of Low Heart Rate Training: Lessons From Running 17,000 Miles</a></li>
    <li>📺 <a href="https://www.youtube.com/watch?v=Jay5b4vygig" target="_blank">MARDI HIMAL TREK ('Nepal' 8th wonder of the world)</a></li>
    <li>📑 <a href="https://blog.codinghorror.com/rule-of-three/" target="_blank">The Rule of Three (Jeff Atwood)</a></li>
    <li>📑 <a href="https://www.lennysnewsletter.com/p/how-todays-fastest-growing-b2b-businesses" target="_blank">How today's fastest growing B2B businesses found their first ten customers (Lenny Rachitsky)</a></li>
  </ul>

</article>
{% endblock %}
</div>
