---
title: Why we run
description: Costa Blanca Trails - the interwining of ultra trail running with personal growth and resilience
date: 2023-11-19
tags:
  - trail running
  - personal development
  - self development
  - passion
  - running inspiration
  - self-discovery
  - ultra trail running
  - mountain running
layout: layouts/post.njk
image: /img/og/opengraph-whywerun.png
---

<p>My wife Monika ran the <a href="https://costablancatrails.com" target="_blank">Costa Blanca Trails</a> yesterday, a 65km mountain race with 3500m elevation gain. She did a few races of that length in recent times, but this one was different.</p>

<p>About 15k from the finish, she hit a wall. Hard. She called me, her voice cracking with pain and exhaustion. "I can't do this anymore, I'm done." she said, for the first time ever. I could hear the raw emotion, on the brink of giving up. But I knew she had more in her. In those moments, through a few texts back and forth, I saw her find her grit again.</p>




<p>Fast forward to the finish line. There she was, crossing it, in a mix of exhaustion and triumph. It's strange how these races work. One minute you're questioning why you're even doing it, and the next, you're filled with this intense feeling of achievement.</p>

<p>Watching her, I thought about how these races can teach us extraordinary things. It's in these moments, when you're pushed to your limits, that you really feel alive. One minute you're in the thick of it, and the next, you're already thinking about the next challenge.</p>


<p>Here's what I've learned: embrace the hard things. They bring out feelings that can't be replicated anywhere else. In those moments of pure unadulterated achievement, you find a part of yourself that would otherwise remain hidden in comfort.</p>

<p>This isn't about running or endurance. It's about learning to push through, to find that extra bit of strength when you think you're done. And that's a lesson that's valuable in every part of life, not just on the trail.</p>

<p>Monika's race wasn't just a physical challenge; it was a journey of self-discovery. And that's probably the biggest win of all.</p>

<p>Here's the story in pictures:</p>


<div class="img-wrapper">
    <figure>
        <img src="/img/blog/2023-whywerun-text1.jpg" alt="Breaking point">
        <figcaption>Breaking Point</figcaption>
    </figure>
    <figure>
        <img src="/img/blog/2023-whywerun-text2.jpg" alt="Not far anymore">
        <figcaption>Not far anymore</figcaption>
    </figure>
    <figure>
        <img src="/img/blog/2023-whywerun-text3.jpg" alt="Bring it home. Goggins that shit! Husband is pumped.">
        <figcaption>Bring it home. Goggins that shit! Husband is pumped.</figcaption>
    </figure>
</div>

<div class="img-wrapper">
  <figure>
      <img src="/img/blog/2023-whywerun-finish.jpg" alt="Done!">
      <figcaption>Done. Time for Team Celebration.</figcaption>
  </figure>
</div>

<div class="img-wrapper">
    <figure>
        <img src="/img/blog/2023-whywerun-on-puig-campana.jpg" alt="View from Puig Campana after the first climb. Benidorm below.">
        <figcaption>View from Puig Campana after the first climb. Benidorm below.</figcaption>
    </figure>
    <figure>
        <img src="/img/blog/2023-whywerun-puig-campana-from-aitana.jpg" alt="View from Aitana, the highest mountain in the Alicante province. Puig Campana from before in the distance.">
        <figcaption>View from Aitana, the highest mountain in the Alicante province. Puig Campana from before in the distance.</figcaption>
    </figure>
</div>

<p><strong>What about you? When was the last time you pushed out of your comfort zone, and what did it teach you about yourself? Tweet at me at <a href="https://twitter.com/marcelfahle" target="_blank">@marcelfahle</a></strong></p>
