---
title: August & September 2024 Recap
description:
date: 2024-10-01
tags:
  - personal development
  - indie hacking
  - building
  - creating value
layout: layouts/post.njk
image: /img/og/opengraph-augsept2024.png
---

<p>
    I skipped the August recap, because we did the multi-day drive from Lithuania back home to Spain.
    It took a few days to get back into the swing of things, but I think we're back on track now.
</p>
<p>
    Not having the in-laws around to help with our monkeys meant that "hobbies" like running took quite a hit
    in September. I'm still trying to figure out how to balance it and think I've found a good schedule that
    might get me around 6h of running a week. We'll see.
</p>

<p>
    Anyway, here's what was going on in August and September of 2024.
</p>

    <h3>Stats August</h3>
    <ul class="stats">
        <li><strong>Running:</strong> 210KM <small><br/>no incline, still in Lithuania</small></li>
        <li><strong>Avg Wake Up:</strong> 03:56</li>
        <li><strong>Avg Sleep:</strong> 5:47h</li>
        <li><strong>Resting HR:</strong> 44.82</li>
    </ul>
    <p>
        I also ran that 42km route that <a href="/posts/running-2024/">I talked about in February</a>. The last 10km weren't fun, but I'm glad I went for it.
    </p>

    <h3>Stats September</h3>
    <ul class="stats">
        <li><strong>Running:</strong> 98KM / 2600m+ <small><br/>not much running, but finally some climbs 🥳</small></li>
        <li><strong>Avg Wake Up:</strong> 03:44</li>
        <li><strong>Avg Sleep:</strong> 5:49h</li>
        <li><strong>Resting HR:</strong> 47.21</li>
    </ul>
    <p>
        Sleep quality definitely suffered a bit in September because of the heat and humidity we still have here. But it's slowly getting better.
    </p>
    <h3><a href="https://bold.video" target="_blank">Bold</a></h3>
        <ul class="stats">
        <li>
                <strong>New Logos added</strong><br/>
                <small>The <a href="https://alfa-omega.org/" target="_blank">Alfa y Omega</a> school in Dénia and Rob Hope's new Landing page course <a href="https://showthem.com" target="_blank">showthem.com</a> are now running on Bold 🥳</small>
            </li>
            <li>
                <strong>New Landing Page launched</strong><br/>
                <small>Still incomplete and tons of issues, especially the responsive parts, but it's a start, and better what we had before. <a href="https://bold.video" target="_blank">Check it out!</a></small>
            </li>
            <li>
                <strong>Bold Portal launched</strong><br/>
                <small>Self-service video portal builder. This was a big one and it's cool. I run this currently in closed beta and will write more about it soon.</small>
            </li>
            <li>
                <strong>Sent 250 outreach emails</strong><br/>
                <small>55% open rate, a bunch of valuable insights and conversations. Nothing closed yet though.</small>
            </li>
            <li>
                <strong>Tested small ad campaign</strong><br/>
                <small>Dumped so far &euro;700 into this, 80k impressions, 4k clicks, 40 signups (mostly duds). Lots to learn still 🤓</small>
            </li>

            <li>
                <strong>Feature Flags</strong><br/>
                <small>Bold has feature flags now. Feels pretty satisfying to turn features on and off per customer 😁</small>
            </li>

            <li>
                <strong>Launched Mission Control</strong><br/>
                <small>I built a small super admin tool to help me with administration. I used Cursor for this. The productivity is insane, but boy do I hate vscode 🙈</small>
            </li>
            <li>
                <strong>Bold Spark ⚡ goes free tier</strong><br/>
                <small>As I was working on <a href="/posts/bold-spark">Spark</a> I came to the conclusion that, instead of it being another app, like a lead magnet, it could just be a free tier on Bold for bootstrappers. That's where I'm currently at with this but it's still developing.</small>
            </li>
        </ul>
    <h3><a href="https://pidro.online" target="_blank">Pidro</a></h3>
    <ul class="stats">
        <p>Pidro was riddled with problems and I was mostly in firefighting mode. It all comes down to a slow feedback loop with an external developer and
        difficulty debugging the unity client. Change needs to happen.</p>
        <li>
            <strong>Integrated Revenuecat</strong><br/>
            <small>Not completely done yet, the paywall is still missing. But time's ticking, black friday is near.</small>
        </li>
        <li>
            <strong>Met with <a href="https://x.com/stevepyoung" target="_blank">Steve P. Young</a></strong><br/>
            <small>Steve gave me tons of valuable input on Pidro and got me excited about its potential.</small>
        </li>
        <li>
            <strong>Goldcards are back</strong><br/>
            <small>Took us a while to get this on right because of a new ad network we're using. I was surprised about how popular this feature is.</small>
        </li>
        <li>
            <strong>New Shuffling Algo/strong><br/>
            <small>This was prompted by user feedback, who thought we're manipulating the dealing to her disadvantage. That's of course not
            true but it got me to improve the shuffling and implement the <a href="https://en.wikipedia.org/wiki/Fisher%E2%80%93Yates_shuffle" target="_blank">Fisher-Yates algorithm</a></small>
        </li>
        <li>
            <strong>Migrated the Unity Client to API 3</strong><br/>
            <small>This caused most of the issues. We have an updated token based auth which forced all users to log out.
            But lots of users don't remember their usernames or emails they used for Pidro when they signed up 5 years ago. So this resulted in lots and lots of support</small>
        </li>
        <li>
            <strong>Monika is doing now most of the support</strong><br/>
            <small>The fact that she keeps an eye on things and me in check when I'm needed is invaluable.</small>
        </li>
        <li>
            <strong>Shipped Pidro 2.3.8 and 2.3.9 to the app stores</strong><br/>
            <small>But as said, mostly in firefighting mode.</small>
        </li>
        <li>
            <strong>Started working on Pidro 2</strong><br/>
            <small>Currently split in 2 Elixir apps (game engine and api) and a react native client. The idea is to get rid of our unity client.
            I don't have much time for working on this but I broke it down into small tasks that I can chip away on it whenever I have an hour or two. I'm still trying to find a good,
            regular timeslot for this in the week to apply some constistency. Let's see how October goes.</small>
        </li>
    </ul>
    <p>
        Again, tons of of exciting things going at my dayjob, I can't talk about most of these things,
        so I'll leave that out. But, it has been a pretty exciting month there as well 🚀
    </p>
    <p>
        Well, and that's it. The focus in October will be for Bold a proper demo and getting bettter outreach.
        I also may or may not have applied to Tinyseed and hooked up with Dan Martell and his team. Let's see how that goes. 🙂
        As for Pidro, I need to get the paywall up and running and bang out some bugs in the unity client.
        <br/>
        <br/>
        Let's keep moving forward 🚀
    </p>
