---
title: "Do Shit You Hate: A Guide for the Comfortable"
description:
date: 2024-05-15
tags:
  - learning
  - self improvement
  - discipline
  - goals
layout: layouts/post.njk
image: /img/og/opengraph-doshityouhate.png
---

<p>I remember once telling my sister about an upcoming mountain race I was about to run, to which she responded "awww, you deserve this, go enjoy yourself", like it's a cup of fucking ice cream. She didn't get it. This stuff is hard, and training for it is harder. But that's exactly why you do it.</p>

<h2>The Reward of Hard Work</h2>

<p>When you work on something really hard and then see it coming to life, it feels great. It's a feeling you can't buy. Whether it's training for a race, learning a new skill, or starting a new career, pushing yourself beyond your comfort zone brings deep satisfaction.</p>

<p>You wake up early. You keep going when you're tired. Some days, you hate it. But you go out anyway. Consistency is key, and momentum matters.</p>

<h2>Overcoming and Growing</h2>

<p>The moment you cross that finish line, everything changes. Your legs ache. Your lungs burn. But amid the pain, there's an unparalleled feeling of pride and accomplishment. This intense satisfaction comes from doing the hard things, not from staying comfortable.</p>

<p>Challenging yourself means growth. You learn what you're made of and build strength and grit. Your achievements stay with you forever. They serve as reminders of your capabilities and sources of enduring pride.</p>

<p>So, if you're used to comfort and complacency, try embracing the things you dread. Whether it's running a marathon, learning a language, or tackling a new project, pushing your limits is invariably worth it. The sense of accomplishment that follows will fuel your future endeavors.</p>

<h2>Take Action</h2>

<p>Personally, I learned all of this from running and being a father, but currently try to apply that mindset into other parts of my life.</p>

<p>If this resonates with you, or if you're struggling to step out of your comfort zone, I want to hear about it. <a href="https://twitter.com/marcelfahle" target="_blank">Hit me up on Twitter</a>, tell me your story, or share your challenges. Let’s declare comfort the enemy, together!</p>

<p>To finish this off, here's a video of my first marathon, the New York City Marathon in 2008. See that satisfaction in chubby young me at the end? That's what this is all about.</p>

<div style="position: relative; padding-bottom: 56.5%; height: 0;"><iframe src="https://demo.bold.video/e/wqjpe" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>

<p>&nbsp;</p>
