---
title: July 2024 Recap
description:
date: 2024-08-01
tags:
  - personal development
  - indie hacking
  - building
  - creating value
layout: layouts/post.njk
image: /img/og/opengraph-july2024.png
---

<p>
    Over the last two years, while I was evolving my sleep and work habits, 
    I got more serious about taking notes and tracking all sorts of data. 
</p>
<p>
    I also got into the habit of tracking my daily wins and then summarizing those at 
    the end of the month. It's not only a great tool to keep an eye on the big picture 
    but also helps to build momentum. When you feel that the daily grind is not 
    getting you anywhere, and then you look at this huge list at the end of the month,
    it lights a huge fire under your ass!
</p>

<p>
    So, and to push this a bit further, I'm going to try something new. I will try 
    to publish every month or so all the things I did, learned, built, etc. All to please 
    the mighty accountability gods and help to keep an eye on the big picture. My hope is by putting 
    more of my work and thoughts out there, it forces me to think harder about what to 
    work on - or you all going to laugh at me. 😄
</p>

<p>
    So, without further ado, here's what was going on July of 2024.
</p>

    <h3>Stats</h3>
    <ul class="stats">
        <li><strong>Running:</strong> 181KM <small><br/>not much incline, we're in Lithuania for the summer</small></li>
        <li><strong>Avg Wake Up:</strong> 04:28 <small><br/>we switched timezones, the rest of the year is 03:37</small></li>
        <li><strong>Avg Sleep:</strong> 6:12h</li>
        <li><strong>Resting HR:</strong> 47.24</li>
    </ul>
    <h3><a href="https://bold.video" target="_blank">Bold</a></h3>
        <ul class="stats">
            <li>
                <strong>Sortable Playlists</strong><br/>
                <small>Can't believe it took me this long to get this in.</small>
            </li>
            <li>
                <strong>Improved Uploader</strong><br/>
                <small>Now uploads can be resumed, interrupted, deal with messy internet, etc.</small>
            </li>
            <li>
                <strong>New Landing Page</strong><br/>
                <small>This is still a work in progress but I'm happy with where we are. I'm grateful 
                for my good friends at <a href="https://thefeeling.de" target="_blank">The Feeling</a> for helping me with this! ❤️</small>
                <div class="img-wrapper">
                    <figure>
                        <img src="/img/blog/bold-redesign-draft.jpg" alt="Lots of iterations">
                        <figcaption>Tons of iterations</figcaption>
                    </figure>
                </div>
            </li>
            <li>
                <strong>Added Transcripts to Google Meet/Zoom</strong><br/>
                <small>Videos ingested from Google or Zoom didn't get sent to the transcription service. 
                Now they do! 💪</small>
            </li>
            <li>
                <strong>Small Updates to <a href="https://www.npmjs.com/package/@boldvideo/bold-js" target="_blank">bold-js</a></strong><br/><small>published 0.3.5</small><br/>
            </li>   
            <li>
                <strong>Bold Spark ⚡</strong><br/>
                <small><a href="/posts/bold-spark">Talked about it last month</a> and made some good strides on the MVP this month. Will probably launch it in August.</small>
            </li>
            <li>
                <strong>Bold Portal</strong><br/>
                <small>Bold's self-service Video Portal. Coming along great. Went deep on fast rendering with React Server Components and Next.js and added a Theme Switcher. </small>
            </li>
            <li>
                <strong>Zoom Marketplace renewal</strong><br/>
                <small>Had to renew the <a href="https://marketplace.zoom.us/apps/XCVVJGmSRju8-WLbzMw18A" target="_blank">Zoom Marketplace app</a>. A bit of a pain todo, but necessary and it got accepted right away!</small>
            </li>
            <li>
                <strong>Outreach</strong><br/>
                <small>Still testing the waters on this one, but sent 60 emails and had some interesting conversations.</small>
            </li>
        </ul>
    <h3><a href="https://pidro.online" target="_blank">Pidro</a></h3>
    <ul class="stats">
        <li>
            <strong>Added data to <a href="https://posthog.com" target="_blank">Posthog</a></strong><br/>
            <small>We're currently ramping up our marketing efforts and as we all know, "You can't improve what you don't measure". I love how this turned out!</small>
        </li>
        <li>
            <strong>Deployed API v3</strong><br/>
            <small>Now with tighter security! 🔒</small>
        </li>
        <li>
            <strong>Got Monika (wifey! ❤️) onboarded and she sent her first email campaign</strong><br/>
            <small>She's a natural! 💪</small>
        </li>
        <li>
            <strong>Introduced regular debugging sessions</strong><br/>
            <small>There are still so many issues that pop up every now and then. This is a dedicated timeslot to get to the bottom of them.</small>
        </li>
        <li>
            <strong>Migrated some more functions off of API v1</strong><br/>
            <small>It's a long story (worth a blogpost), but in short, there are still some essential functions running on API v1.
            I migrated a few big ones this month to Elixir-land. 🥳</small>
        </li>
        <li>
            <strong>Facebook Login is back</strong><br/>
            <small>Huge pain in the ass! Our Facebook app was in some kind of verification limbo. No moving forward.
            I had to create a new one to get this sorted. Works now!</small>
        </li>
        <li>
            <strong>Shipped Pidro 2.3.7 to the app stores</strong><br/>
            <small>A few bugfixes and the FB login, now live on the App Store and Google Play. 🍾</small>
        </li>
    </ul>
    <p>
        While there are a lot of exciting things going at my dayjob, I can't talk about most of these things, 
        so I'll leave that out. But, it has been a pretty exciting month there as well 🚀
    </p>
    <p>
        Well, and that's it. The focus in August will be for Bold mainly on outreach and Bold Spark and Portal. 
        And on the Pidro side, we will keep creating fun email sequences with <a href="https://loops.so" target="_blank">Loops</a> 
        and also switch to <a href="https://revenuecat.com" target="_blank">RevenueCat</a> for our paywall.
        <br/>
        <br/>
        Let's see how it goes.💪 
    </p>



