---
title: Recap October 2024
description:
date: 2024-11-07
tags:
  - personal development
  - indie hacking
  - building
  - creating value
layout: layouts/post.njk
image: /img/og/opengraph-october2024.png
---

<p>
    October was a real banger, with a few significant updates (I hope). Let's go:
</p>

    <h3>Stats October</h3>
    <ul class="stats">
        <li><strong>Running:</strong> 131KM / 2160m+ <small><br/>Spend some time traveling, so less time to run.</small></li>
        <li><strong>Avg Wake Up:</strong> 03:43</li>
        <li><strong>Avg Sleep:</strong> 5:45h</li>
        <li><strong>Resting HR:</strong> 45.69</li>
    </ul>§

    <p>
        Been hyper consistent with my wake-up times. Only the three mornings I was away I woke at 4:41, 6:10 😳 and 5:30. Otherwise, on the dot 3:30, every single time.
    </p>
    <h3><a href="https://bold.video" target="_blank">Bold</a></h3>
        <ul class="stats">
        <li>
            <strong>TinySeed</strong><br/>
            <small>Got rejected. No biggie, I would've done the same. My GTM is still full of holes. See you in Spring! 👋</small>
        </li>
        <li>
            <strong>I joined Dan Martell's [SaaS Academy](https://saasacademy.com)</strong><br/>
            <small>A significant investment, but it'll be worth it. I will talk more about it in the future.</small>
        </li>
        <li>
            <strong>Hung out with [Rob Hope](https://robhope.com) in London</strong><br/>
            <small>He was there for Webflow Conf and let me crash in his Airbnb to hang out, [Ted Lasso style](https://x.com/marcelfahle/status/1847899538347987390), did some [running](https://x.com/marcelfahle/status/1847942496761909566) and some grinding some on [his course](https://showthem.com).</small>
        </li>
        <li>
            <strong>Launched Bold AI Assistant "Anton" - [check it out](https://www.linkedin.com/feed/update/urn:li:activity:7254112536059412480/)</strong><br/>
            <small>Got the idea from one of our customers, Anton. Rolled it out to most customers.</small>
        </li>
        <li>
            <strong>Launched Attachments for Videos</strong><br/>
            <small>Didn't talk about it publicly yet but you can now add slides, pdfs and stuff to videos.</small>
        </li>
        <li>
            <strong>Alfa y Omega went live</strong><br/>
            <small>The school that I've onboarded last month went already live a few days later. They use bold Portal! 😎</small>
        </li>
        <li>
            <strong>A few more leads and onboarded 3 more, "free trials"</strong><br/>
            <small>Both mostly from my extended network. But I'm grateful, even if doesn't mean anythng for my MRR. But the learnings are gold for me.</small>
        </li>
        <li>
            <strong>Updated a few (headless) customer video portals</strong><br/>
            <small>To make sure they all have access to the new toys (AI, attachments, etc)</small>
        </li>

        </ul>
    <h3><a href="https://pidro.online" target="_blank">Pidro</a></h3>
    <ul class="stats">
        <p>Not as much progress as I hoped, but taught myself some Unity to be able to move faster in general.</p>
        <li>
            <strong>Released a client update, 2.3.10</strong><br/>
            <small>We had an issue with Ads in the lobby, which is fixed now</small>
        </li>
        <li>
            <strong>Pidro HQ Updates</strong><br/>
            <small>Added new auth and a ton of tools to our admin tool, PidroHQ. Most of those tools are for my wife, who's doing support right now. Support-ticket-driven development 😁</small>
        </li>
        <li>
            <strong>New Paywall</strong><br/>
            <small>Getting ready for black friday. Being able to do changes in Unity myself makes this so much faster.</small>
        </li>


    </ul>
    <p>
        I also went to the [commercetools](https://commercetools.com) retreat in Valencia for a few days. It was great to see the team again in person!
    </p>
    <p>
        Well, and that's it. The focus in November will be for Bold once again a proper demo and getting bettter outreach.
        As for Pidro, Black Friday
        <br/>
        <br/>
        Let's keep moving forward 🚀
    </p>
