---
title: The Story of Pidro - Part 1
description:
date: 2024-12-11
tags:
  - indiehackcer
  - gamedev
  - software
  - games
  - engineering
layout: layouts/post.njk
image: /img/og/opengraph-pidro1.png
---

<p><i>This is a repost of a recent <a href="https://pidro.online" target="_blank">Pidro</a> newsletter. It got some nice replies, and I thought it would be fun to share here. </i></p>
<hr/>
<br/>
<p>Hej Pidro friends,
<br/>
<br/>
Marcel here. I wanted to tell you a quick story about how Pidro came to be.</p>

<div class="img-wrapper">
    <figure>
        <img src="/img/blog/2024-pidro1-1.jpg" alt="Ko Lanta Island Life">
        <figcaption>Ko Lanta Island Life</figcaption>
    </figure>
</div>

<p>It starts in 2016.</p>

<p>I was on a small island in Thailand called Ko Lanta. My then-girlfriend (now wife) Monika and I were spending a few months there, working remotely.</p>I was on a small island in Thailand called Ko Lanta. My then-girlfriend (now wife) Monika and I were spending a few months there, working remotely.

<p>Ko Lanta had this incredible coworking space called KoHub. Picture hammocks, palm trees, and a bunch of people typing away on laptops with coconuts by their side. That’s where I met Tommy.</p>

<p>Tommy was a digital nomad from Finland, full of energy and ideas. One day, he asked me if I’d help him build a card game he and his friend Antti had been dreaming up.</p>

<p>The game was called Pidro, and it was huge back in their hometown, a small place called Närpes, Finland. They wanted to bring it online so people could play wherever they were.</p>

<div class="img-wrapper">
    <figure>
        <img src="/img/blog/2024-pidro1-2.png" alt="The original Pidro Design Document">
        <figcaption>The original Pidro Design Document</figcaption>
    </figure>
</div>

<p>I thought it was a cool idea—but I was swamped with work. I told him, “Sorry, I can’t help.”</p>

<p>Tommy and Antti didn’t give up. They found a service provider to build the game for them.</p>

<p>By early 2017, they launched Pidro, and it was an instant hit. People loved it. So much so, the servers couldn’t handle the load.</p>

<p>That’s when Tommy called me again.</p>

<p>“Marcel,” he said, “the game’s crashing. Can you help us out?”</p>

<p>Curious, I took a look at the server code. It was... a disaster.</p>

<p>But here’s the thing: I’d been learning a new programming language that was perfect for fixing this exact kind of mess.</p>

<p>So, I rolled up my sleeves, started optimizing the game, and before I knew it, I was part of the Pidro team.</p>

<p>And that’s how it all started.</p>

<div class="img-wrapper">
    <figure>
        <img src="/img/blog/2024-pidro1-3.png" alt="The original Photoshop Design">
        <figcaption>The original Photoshop Design</figcaption>
    </figure>
</div>

<p>Tomorrow, I’ll share the next part of the story—how Pidro grew into the game you know and love today.</p>
